<nav>
	<h1> My SmartHome Dashboard </h1>
</nav>

<!--default starter view-->
<!--<router-outlet />-->

<div class="container">
	<h1>{{ title }}</h1>
	<hr />

	<!--for every light in the list, create a new DIV element-->
	<div *ngFor="let light of lights" class="light-card">
		<h2>Room: {{ light.room }} </h2>
		<p>
			Status:
			<strong [style.color]="light.isOn ? 'green' : 'red'">
				{{ light.isOn ? 'ON' : 'OFF' }}
			</strong>
		</p>
		<p>Brightness: {{ light.brightness }} </p>
		<p>Current Usage: {{ light.currentPowerUsage }} Watts </p>
		<hr />
	</div>

	<div *ngIf="lights.length === 0">
		<p>No lights found. Is the API running?</p>
	</div>

</div>


